<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="/login.css">
</head>
<body>
    <div align="center" class="login_div">
        <h1>Login</h1>
        <form action="">
            <label for="user">username </label><br>
            <input type="text" name="username" id="user" placeholder="Enter your username"><br><br>
            <label for="pwd">password</label><br>
            <input type="password" name="password" id="pwd" placeholder="Enter your password"><br><br>
            <button>Login</button>
        </form>
        <br><br>
        <p>Don't have account ?<a href="/register">Register</a></p>
    </div>
</body>
</html>