<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/register.css">
</head>
<body>
    <div align="center" class="register">
    <br>
        <h2>Create Account</h2>
        <form action="">
            <label for="fname">First Name</label>
            <input type="text" name="first_name" id="fname" class="inp" placeholder="Enter your first name"><br/><br>
            <label for="lname">Last Name</label>
            <input type="text" name="last_name" id="lname" class="inp" placeholder="Enter your last name"><br><br>
            <label for="username">Username</label>
            <input type="text" name="username" id="username" class="inp" placeholder="Enter the username"><br><br>
            <label for="mail">Email</label>
            <input type="text" name="mail" id="mail" placeholder="Enter your email id" class="inp"><br><br>
            <label for="mobile">Mobile Number</label>
            <input type="number" name="mobile" id="mobile" placeholder="Enter yout mobile number" class="inp"><br><br>
            <label for="psw">Password</label>
            <input type="text" name="password" id="psw" placeholder="Enter new password" class="inp"><br><br>
            <label for="conpwd">Confirm Password</label>
            <input type="text" name="confirm_possword" id="conpwd" placeholder="confirm possword" class="inp"><br><br>
            <label for="gender">Gender</label><br>
            <input type="radio" name="gender" id="gender" value="male" >Male
            <input type="radio" name="gender" id="gender" value="female">Female
            <input type="radio" name="gender" id="gender" value="other">Other
            <br><br>
            <button>Register</button><br><br><br>

            <p>Already have an account ? <a href="/login">Login</a></p>

        </form>
    </div>
</body>
</html>